/* my custom style */
.mainblock {
	min-height: 100%;
	margin-top: 5%;
}

.myfooter {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.myborderraduis {
	border-radius: 1m;
	-moz-border-radius: 1em;
	-webkit-border-radius: 5em;
	background: #263238;
	/* header transformation*/
	-webkit-border-radius: 36px 12px;
	-moz-border-radius: 36px/12px;
	border-radius: 36px/12px;
	-webkit-transform: rotate(-0deg);
}

.paginator {
	width: 100%;
	text-align: center;
}

.main {
	height: 100%;
	min-height: 60%;
}