<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="master_layout :: myhead">
<title>MyShop</title>
</head>
<body class="mainblock">
	<div class="fixed-sn graphite-skin">
		<header th:replace="master_layout :: myheader"></header>
	</div>

	<div class="container-fluid">
		<div class="card col-md-6 text-xs-center">
			<div class="card-block">
				<div>
					Now is: <b th:text="${execInfo.now.time}">date and time</b>
				</div>
			</div>
		</div>
	</div>





	<footer th:replace="master_layout :: myfooter" id="footer"></footer>

</body>
</html>