<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="master_layout :: myhead">
<title>MyShop</title>
</head>
<body class="mainblock">
	<div class="fixed-sn graphite-skin">
		<header th:replace="master_layout :: myheader"></header>
	</div>
	<div class="container-fluid">
		<div class="card col-md-12 text-xs-center">
			<h3 class="card-header special-color white-text">Shop details</h3>
			<div class="card-block">
				<form action="#" th:object="${shop}">
					<!--First row-->
					<div class="row">
						<div class="col-md-4">
							<div class="md-form col-md-2">
								<label class="card-text black-text" for="name">Name:</label>
							</div>
							<div class="md-form col-md-3">
								<label class="teal-text" th:text="${shop.name}"></label>
							</div>
						</div>
						<div class="col-md-4">
							<div class="md-form col-md-3">
								<label class="card-text black-text" for="name">Description:</label>
							</div>
							<div class="md-form col-md-6">
								<label class="teal-text" th:text="${shop.description}"></label>
							</div>
						</div>
						<div class="col-md-4">
							<div class="md-form col-md-2">
								<label class="card-text black-text fa fa-envelope" for="name"></label>
							</div>
							<div class="md-form col-md-3">
								<label class="teal-text" th:text="${shop.email}"></label>
							</div>
						</div>
					</div>
					<!--/.First row-->
					<div><br/><br/></div>
					<div class="row">
						<div class="col-md-4">
							<div class="md-form col-md-2">
								<label class="card-text black-text fa fa-mobile-phone" for="phonenumber"></label>
							</div>
							<div class="md-form col-md-5">
								<label class="teal-text" th:text="${shop.phonenumber}"></label>
							</div>
						</div>
						<div class="col-md-4">
							<div class="md-form col-md-3">
								<label class="card-text black-text fa fa-firefox" for="website"></label>
							</div>
							<div class="md-form col-md-6">
								<label class="teal-text" th:text="${shop.website}"></label>
							</div>
						</div>
						<div class="col-md-4">
							<div class="md-form col-md-3">
								<label class="card-text black-text" for="isactive">Is active? </label>
							</div>
							<div class="md-form col-md-3">
								<label class="teal-text" th:text="${shop.isactive}"></label>
							</div>
						</div>
					</div>
					<!-- /second row -->
					<div><br/><br/></div>
					<hr />
					<div class="row container spacer">
						<div class="col-md-6">
							<a th:href="@{/ShopListPage}"
								class="fa fa-list btn btn-primary btn-rounded special-color">&nbsp;Back</a>
						</div>
						<div class="col-md-6">
							<a th:href="@{/updateshop(id=${shop.id})}"
								class="fa fa-edit btn btn-primary btn-rounded special-color">&nbsp;Edit</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="master_layout :: myfooter" id="footer"></footer>
</body>
</html>